<nav class="topnav" id="myTopnav">
  <a href="/">Inicio</a>
  <a href="/eventos">Eventos</a>
  <a href="/cfp">Quiero dar una charla</a>
  <a href="/codigo_de_conducta">C&oacute;digo de Conducta</a>
  <a href="/patrocinadores">Patrocinadores</a>
  <a href="/contacto">Contacto</a>
  <a href="javascript:void(0);" class="icon" onclick="window.toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</nav>
