nav {
  color: $secondary-text-color;
  background-color: $secondary-background-color;
  height: 3rem;
  padding-top: 1.5rem;

  a {
    text-decoration: none;
    padding: 1rem;
    padding-top: 2rem;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: white;
    }
  }
}
