<nav>
  <a href="/">Inicio</a>
  <a href="/eventos">Eventos</a>
  <a href="/cfp">Quiero dar unc charla</a>
  <a href="/codigo_de_conducta">C&oacute;digo de Conducta</a>
  <a href="/contacto">Contacto</a>
</nav>
